body
{
padding: 0px;
margin: 0px;
margin-top: 20px;
color: #000000;
_text-align: center;
font-family: Tahoma, Arial, Verdana;
background-color: #ffffff;
}


.holder
{
width: 450px;
min-height: 100px;
margin-left: auto;
margin-right: auto;
padding: 15px;
padding-left: 150px;
font-size: 14pt;
_text-align: left;
background-color: #DCDCDC;
background-image: url('../img/error.png');
background-position: top left;
background-repeat: no-repeat;
border: solid 10px #E7370A;
}
