*, *::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-size: 16px;
}

img{
    width: auto;
    max-width: 100%;
}
.top_pruh_in{
    max-width: 1220px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 991px){
    .top_pruh_in{
        display: none;
    }
}

.holder, .holder2 {
    max-width: 1220px;
    position: relative;
    z-index: 9000;
    min-height: 10px;
    text-align: left;
    line-height: 130%;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin: 0 auto;
}
.clear{
    display: none !important;
}




.top_menu_kat_obr_obal {
    width: auto;
    height: 521px;
    margin-top: 0px;
    background-color: #ffffff;
    border-bottom: solid 1px #dedede;
    background-image: url(../img/slider-img2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}





.poradna_box{
    z-index: 9999;
}

.box_nadpisy_adn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    height: auto;
    padding: 20px 0;
    width: 100%;
}
.box_a_h{
    margin: 0;
    width: auto;
}
.box_a{
    margin: 0;
    width: auto;
}
@media screen and (max-width: 767px){
    .box_nadpisy_adn{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

.boxy_produkty_uvodka{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.nahledy_produktu {
    float: none;
    width: auto;
    height: auto;
    margin-right: 0;
    margin-bottom: 0;
    padding: 20px;
    background-color: #ffffff;
    border: none;
    outline: solid 1px #dedede;
    cursor: pointer;
    position: relative;
}
.nahledy_produktu_foto_obal img{
    width: auto !important;
}
.nahledy_produktu > img{
    margin: 0 !important;
    right: 20px;
}
.nahledy_produktu_popis{
    position: absolute;
    width: auto;
    right: 20px;
    left: 20px;
    height: 280px;
    padding: 20px;
    overflow: hidden;
}
.nahledy_produktu_nazev {
    width: auto;
    height: 54px;
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
    padding-top: 20px;
}


@media screen and (max-width: 991px){
    .boxy_produkty_uvodka{
        grid-template-columns: 1fr 1fr;
    }
}